langchain
langchain-openai
langchain-chroma
langchain-community
langchain-experimental
unstructured[all-docs]
htmltabletomd
openai
redis
chroma
Pillow
tesseract
poppler-utils
python-dotenv
fastapi
uvicorn
speechrecognition
pydub
beautifulsoup4
PyPDF2
chromadb
fpdf
spacy>=3.0.0